<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer utilities {
            .content-auto {
                content-visibility: auto;
            }
        }
    </style>
    <script th:inline="javascript">
        var u = [[${session.a}]];
        if (u == 1) {
            alert('One record added');
        }
    </script>
    <script th:inline="javascript">
        var u = [[${session.e}]];
        if (u == 2) {
            alert('One record edited');
        }
    </script>
    <style>
        .pre-scrollable{
            height:500px;
            overflow-y: scroll;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body class="bg-emerald-500">
<div class="container">
    <h1 class="text-warning text-center text-xl">Seat Reservation System</h1>
    <div class="card-body">
        <table class="table bordered ">
            <thead>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            </thead>
            <tbody>
            <tr>
                <td>1A</td>
                <td>1B</td>
                <td>1C</td>
                <td>1D</td>
                <td>1E</td>
            </tr>
            <tr>
                <td>2A</td>
                <td>2B</td>
                <td>2C</td>
                <td>2D</td>
                <td>2E</td>
            </tr>
            <tr>
                <td>3A</td>
                <td>3B</td>
                <td>3C</td>
                <td>3D</td>
                <td>3E</td>
            </tr>
            <tr>
                <td>4A</td>
                <td>4B</td>
                <td>4C</td>
                <td>4D</td>
                <td>4E</td>
            </tr>
            <tr>
                <td>5A</td>
                <td>5B</td>
                <td>5C</td>
                <td>5D</td>
                <td>5E</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div>
        <h1 class="text-warning text-center text-xl">There are <span class=""></span> seats remaining</h1>
    </div>


        <div>
            <form method="post" th:action="@{/save}" class="text-align-center justify-items-center">
                <div class="grid grid-cols-2 gap-4">
                    <div class="">
                        <label for="seatNum" class="text-white">Seat Code</label>
                        <input class="form-control " id="seatNum" type="text" required="true" name="seatNum"
                               th:value="${reservation.seatNumber}">
                        <span th:errors="${reservation.seatNumber}"></span>
                    </div>
                    <div class="">
                        <label for="name" class="text-white">Customer Name</label>
                        <input class="form-control" type="text" name="name" required="true" id="Rname"
                               th:value="${reservation.name}">
                        <span th:errors="${reservation.name}"></span>
                    </div>
                </div>

                <div>
                    <label class="text-white">Transaction Date</label>
                    <input class="form-control" type="date" required="true" name="date" th:value="${reservation.date}">
                    <span th:errors="${reservation.date}"></span>
                </div>
                <div class="justify-items-center">
                    <button type="submit" class="btn-primary btn text-white justify" onClick={checkValid()} th:href="@{/save}">Reserve</button>
                </div>

            </form>
        </div>

</div>
<div id="booking display" class="bg-gray-800 bottom-0">
    <table class="table text-white pre-scrollable">
        <thead>
        <th>Transaction Code</th>
        <th>Date</th>
        <th>Seat Number</th>
        <th>Name</th>
        <th>

        </th>
        <th></th>

        </thead>
        <tbody>
        <tr th:each="r:${reservations}">>
            <td th:text="${r.getId()}"></td>
            <td th:text="${r.getDate()}"></td>
            <td th:text="${r.getSeatNumber()}"></td>
            <td th:text="${r.getName()}"></td>
            <td><a class="btn btn-danger" onclick="return confirm('Do you want to delete the data?')"
                   th:href="@{delete(id=${r.id})}">Delete</a></td>
            <td>
                <a class="btn btn-success" th:href="@{editReservation(id=${r.id})}">
                    Edit</a>
            </td>

        </tr>

        </tbody>

    </table>

</div>
</body>
<script>
    function checkValid() {
        var seat = document.getElementById("seatNum");
        var name = document.getElementById("Rname");

        if (seat.value === "" || seat.value == null) {
            alert("Please provide seat number.");
        } else if (name.value === "" || name.value == null) {
            alert("Please provide your name.");

        }
    }

</script>
</html>